<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Researcher @ <a href="http://eclab.paginas.ufsc.br/" target="blank">Embedded Computing Lab - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2017 to now</time></span>
        </header>
        <p> Research on EDA algorithms: Timing-Driven Placement, Detailed Placement, Circuit Legalization &amp; Register Clustering.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant @ Embedded Computing Lab - UFSC<a href="http://eclab.paginas.ufsc.br/" target="blank">Embedded Computing Lab - UFSC</a></h1>
            <span><address>Florianópolis, BR</address><time>2015-2016</time></span>
        </header>
        <p>Worked in diffrent projects: </p>
        <ol>
            <li>Implementation of a timing engine for standard-cell design static timing analysis.</li>
            <li>Developing parallel solutions for static timing analysis and EDA algorithms.</li>
        </ol>
    </article>
</section>
