<section class="thirteen columns">
<h1>Publications</h1>

<article>Renan O. Netto, Tiago A. Fontana, <strong>Sheiny F. Almeida</strong>, Bernardo F. Mendonca, Vinicius Livramento, Thiago Barbato, Joao Souto, Chrystian Guth, Jose L. A. Guntzel, Laercio L. Pilla, Jose L. A. Guntzel, Renan O. Netto, Tiago A. Fontana, Vinicius Livramento. &quot; Ophidian: an Open-Source Library for Physical Design Research and Teaching &quot; <i> In Workshop on Open-Source EDA Technology, 2018.</article>

<article><strong>Sheiny F. Almeida</strong>, Jose L. A. Guntzel, Laercio L. Pilla, Jose L. A. Guntzel, Renan O. Netto, Tiago A. Fontana, Vinicius Livramento. &quot; Enhancing Multi-Threaded Legalization Through k-d Tree Circuit Partitioning &quot; <i> In Symposium on Integrated Circuits and Systems Design, 2018.</article>

<article>Tiago A. Fontana, Renan O. Netto, <strong>Sheiny F. Almeida</strong>, Vinicius Livramento, Chrystian Guth, Laercio L. Pilla, Jose L. A. Guntzel. &quot; How Game Engines Can Inspire EDA Tools Development: A use case for an open-source physical design library &quot; <i> In International Symposium on Physical Design, 2017.</article>

<article>Tiago A. Fontana, <strong>Sheiny F. Almeida</strong>, Renan O. Netto, Vinicius Livramento, Chrystian Guth, Laercio L. Pilla, Jose L. A. Guntzel. &quot; Exploiting Cache Locality to Speedup Register Clustering &quot; <i> In Symposium on Integrated Circuits and Systems Design, 2017.</article>

<article><strong>Sheiny F. Almeida</strong>, Bernardo F. Mendonca, Laercio L. Pilla, Jose L. A. Guntzel. &quot; Comparando orientacao a dados e orientacao a objetos em analise de timing estatica &quot; <i> In Forum de Iniciação Cientí­fica da ERAD, 2017.</article>

<article><strong>Sheiny F. Almeida</strong>, Laercio L. Pilla, Jose L. A. Guntzel. &quot; Paralelismo em Analise de Timing Estatica &quot; <i> In Forum de Iniciação Cientí­fica da ERAD RS, 2016.</article>

</section>
